ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 24 / 16 */
  letter-spacing: 0.02em;
  color: #434455; /* SLATE */
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.logo span {
  color: #4d5ae5;
}
.logo span:hover {
  color: #404bbf;
}

.nav-link {
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-list li {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
}

.team-position {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-align: center;
}

.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-type {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  text-decoration: none;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer span {
  color: #4d5ae5;
}
.footer span:hover {
  color: #404bbf;
}
